<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">

            <div class="product-image">
                <img v-bind:src="image" alt="sock-image">
            </div>

            <div class="product-info">
                <h1>{{ product }}</h1>
                <span v-if="onSale">On Sale!</span>
                <p>{{ description }}</p>
                <a :href="infoLink" target="_blank">More products like this</a>
                <p v-if="inStock">In Stock</p>
                <p v-else :class="{ noStock: !inStock }">Out of Stock</p>
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <h4>Sizes</h4>

                <ul>
                    <li v-for="size in sizes">{{ size }}</li>
                </ul>

                <div v-for="variant in variants"
                    :key="variant.variantId"
                    class="color-box"
                    :style="{ backgroundColor: variant.variantColor}"
                     @mouseover="updateProduct(variant.variantImage)">
                </div>

                <button @click="addToCart" :disabled="!inStock" :class="{ disabledButton: !inStock }">Add to Cart</button>
                <button @click="decreaseCart" :disabled="!inStock" :class="{ disabledButton: !inStock}">Decrease Qty</button>
                <div class="cart">
                    <p>Cart({{cart}})</p>
                </div>


            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="main.js"></script>
</body>
</html>
